<div
    class="modal fade"
    id="createDepartmentModal"
    tabindex="-1"
>

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">

                    Tạo Department

                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>

            </div>

            <div class="modal-body">

                <div
                    id="createDepartmentError"
                    class="alert alert-danger d-none"
                ></div>

                <div class="mb-3">

                    <label class="form-label">

                        Tên Department

                    </label>
                    <input type="hidden" id="departmentId">

                    <input
                        type="text"
                        id="departmentName"
                        class="form-control"
                    >

                </div>

            </div>

            <div class="modal-footer">

                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >

                    Hủy

                </button>

                <button
                    type="button"
                    class="btn btn-primary"
                    id="saveDepartmentBtn" data-url="{% url 'create_department' %}"
                >

                    <i class="bi bi-save"></i>

                    Lưu

                </button>

            </div>

        </div>

    </div>

</div>