<div
    class="modal fade"
    id="confirmModal"
    tabindex="-1"
>
    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">

                    Xác nhận

                </h5>

                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                ></button>

            </div>

            <div class="modal-body">

                <p id="confirmMessage">

                    Bạn có chắc không?

                </p>

            </div>

            <div class="modal-footer">

                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >

                    Hủy

                </button>

                <button
                    type="button"
                    class="btn btn-danger"
                    id="confirmOkBtn"
                >

                    Đồng ý

                </button>

            </div>

        </div>

    </div>

</div>