<footer class="dashboard-footer-fixed">

    <!-- LEFT -->
    <div class="footer-section">

        <div class="footer-main">

            <i class="bi bi-bar-chart-line-fill"></i>

            <span>

                Hệ thống thu thập, lưu trữ, phân tích CBKH thuộc CSDL WoS/Scopus

            </span>

        </div>

        <div class="footer-sub">

            Version 1.0.0

        </div>

    </div>

    <!-- CENTER -->
    <div class="footer-section">

        <div class="footer-main">

            <i class="bi bi-database-fill"></i>

            <span>

                Nguồn dữ liệu: Scopus

            </span>

        </div>

        <div class="scopus-updated-badge">

            <span class="footer-sub">Cập nhật đến ngày:</span>

            <span class="updated-date-badge">

                {% if latest_scopus_batch %}
                <i class="bi bi-check"></i> {{ latest_scopus_batch.data_updated_until|date:"j/n/Y" }}
                {% endif %}
            </span>

        </div>

{% comment %} 
        <div class="footer-sub">
            Cập nhật đến ngày:
            {% if result %}
             <strong>{{ result.data_updated_until|date:"j/n/Y" }} </strong>
            {% endif %}

        </div> {% endcomment %}

    </div>

    <!-- RIGHT -->
    <div class="footer-section footer-right">

        <div class="footer-main">

            <i class="bi bi-envelope-fill"></i>

            <span>

                Được phát triển bởi Nhóm phân tích dữ liệu LQDTU

            </span>

        </div>

        <div class="footer-sub">

            © 2026 LQDTU

        </div>

    </div>

</footer>
