{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid px-4">

    <!-- ===================================== -->
    <!-- PAGE TITLE -->
    <!-- ===================================== -->

    <div class="mb-4">

        <h2>

            PHÂN TÍCH CBKH THEO NGÀNH, NHÓM NGÀNH

        </h2>

    </div>

    <!-- ===================================== -->
    <!-- CHART -->
    <!-- ===================================== -->

    <div class="row">

        
        <div class="col-4">

            <div class="dashboard-chart-card">

                <h5 class="mb-4">

                    Số CBKH theo nhóm ngành

                </h5>

                <div class="chart-wrapper">

                    <canvas id="fieldPublicationChart">

                    </canvas>

                </div>

                
            </div>
        </div>
        

        <div class="col-4"> 
            <div class="dashboard-chart-card"> 
                <h5 class="mb-4"> 
                    % CBKH theo nhóm ngành
                </h5> 
                <div class="chart-wrapper"> 
                    <canvas id="fieldPieChart"> 

                    </canvas> 
                </div> 
            </div> 
        </div>

        <div class="col-4">

            <div class="dashboard-chart-card">
                <h5 class="mb-4"> 
                    H-index của các nhóm ngành
                </h5> 
                <div class="chart-wrapper"> 
                    <canvas id="fieldHIndexChart"> </canvas> 
                </div> 
            </div>
        </div>

    </div>
    <!-- ===================================== -->
    <!-- STACKED DOCUMENT TYPE -->
    <!-- ===================================== -->

    <div class="row mt-4 dashboard-chart-card" style="margin-left: 0px;">
        <div class="col-9">

            {% comment %} <div class="dashboard-chart-card"> {% endcomment %}

                <h5 class="mb-4">

                    Phân loại CBKH trong từng nhóm ngành

                </h5>

                <div class="chart-wrapper">

                    <canvas id="documentTypeChart">

                    </canvas>

                </div>

            {% comment %} </div> {% endcomment %}

        </div>

        <div class="col-3">

            {% comment %} <div class="dashboard-chart-card"> {% endcomment %}

                <h5 class="mb-4">

                    % Tạp chí khoa học trong từng nhóm ngành

                </h5>

                <div class="chart-wrapper">

                    <canvas id="articlePercentageChart">

                    </canvas>

                </div>

            {% comment %} </div> {% endcomment %}

        </div>

    </div>

</div>

<!-- ===================================== -->
<!-- JSON DATA -->
<!-- ===================================== -->

{{ field_labels|json_script:"field-labels" }}

{{ field_values|json_script:"field-values" }}

{{ stacked_labels|json_script:"stacked-labels" }}

{{ stacked_datasets|json_script:"stacked-datasets" }}

{{ article_labels|json_script:"article-labels" }}

{{ article_values|json_script:"article-values" }}

{{ hindex_labels|json_script:"hindex-labels" }}

{{ hindex_values|json_script:"hindex-values" }}


{% endblock %}


{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script src="{% static 'dashboard/js/dashboard_palette.js' %}"></script>

<script src="{% static 'dashboard/js/dashboard_charts.js' %}"></script>

<script src="{% static 'dashboard/js/fields.js' %}"></script>

{% endblock %}