{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid mt-0 px-4">
    <div class="mb-4">

        <h2>

            PHÂN TÍCH HIỆU SUẤT NGHIÊN CỨU

        </h2>

    </div>

    <!-- ===================================== -->
    <!-- PAGE HEADER -->
    <!-- ===================================== -->

    <div class="row g-4 mb-4">
        <div class="col-md-3">

            <div class="dashboard-kpi-card position-relative" style="padding-bottom: 0px;">

                <div class="form-check position-absolute" style=" top: 8px; transform: translateX(-50%); left: 95%;" > 
                    <input class="form-check-input" type="checkbox" id="publicationLQDTUOnly" title="Chỉ tính tác giả thuộc LQDTU">
                    {% comment %} <label for="publicationLQDTUOnly" class="text-muted" style="font-size: small;">Chỉ tác giả LQDTU</label> {% endcomment %}
                </div>

                <div class="kpi-title">

                    Số tác giả có số CBKH ≥ <strong
                        id="publicationThresholdLabel" style="font-size: large;"
                    >

                        10

                </strong>

                </div>

                <!-- VALUE -->

                <div

                    class="kpi-value"

                    id="authorsWithPublicationValue"

                >

                    0

                </div>

                <div class="mt-3 mb-0">

                    <input

                        type="range"

                        class="form-range"

                        id="publicationThreshold"

                        min="1"

                        max="50"

                        value="10"

                    >

                </div>

            </div>

        </div>       

        <div class="col-md-3">

            <div class="dashboard-kpi-card">

                <div class="kpi-title">
                    Số CBKH/ tác giả
                </div>

                <div class="kpi-value">
                     {{ publication_per_author }}
                </div>

            </div>

        </div>
        <div class="col-md-3">

            <div class="dashboard-kpi-card">

                <div class="kpi-title">
                    Số trích dẫn/ tác giả
                </div>

                <div class="kpi-value">
                     {{ citation_per_author }}
                </div>

            </div>

        </div>
        <div class="col-md-3">

            <div class="dashboard-kpi-card position-relative" style="padding-bottom: 0px;">

                <div class="form-check position-absolute" style=" top: 8px; transform: translateX(-50%); left: 95%; " > 
                    <input class="form-check-input" type="checkbox" id="hindexLQDTUOnly" title="Chỉ tính tác giả thuộc LQDTU"> 
                    {% comment %} <label for="hindexLQDTUOnly" class="text-muted" style="font-size: small;">Chỉ tác giả LQDTU</label> {% endcomment %}
                </div>

                <div class="kpi-title">

                    Số tác giả có H-index ≥ <strong id="hindexThresholdLabel" style="font-size: large;">5</strong>

                </div>

                <div

                    class="kpi-value"

                    id="authorsWithHindexValue"

                >

                    0

                </div>

                <div class="mt-3">

                    <input

                        type="range"

                        class="form-range"

                        id="hindexThreshold"

                        min="1"

                        max="20"

                        value="5"

                    >

                </div>

            </div>

        </div>
    </div>

    <div class="row mt-4">

        <!-- ================================= -->
        <!-- PUBLICATION HISTOGRAM -->
        <!-- ================================= -->

        <div class="col-6">
            <div class="dashboard-chart-card">

                <h5>
                    Phân bố số tác giả theo số CBKH
                </h5>
                <div class="chart-wrapper">
                    <canvas id="publicationHistogramChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">

            <div class="dashboard-chart-card">

                <h5>

                    Phân bố số tác giả theo số trích dẫn

                </h5>
                <div class="chart-wrapper">
                    <canvas
                        id="citationHistogramChart"
                    ></canvas>
                </div>

            </div>

        </div>

    </div>

    <!-- ===================================== -->
    <!-- CONTROLS -->
    <!-- ===================================== -->

    <div class="row mb-1 mt-4 dashboard-chart-card" style="margin-left: 0px;">

        <!-- TOP N -->

        <div class="col-md-3">

            <label class="form-label">

                Top N danh mục tác giả:

                <span id="topNLabel">

                    10

                </span>

            </label>

            <input

                type="range"

                class="form-range"

                id="topNSlider"

                min="5"

                max="30"

                value="10"

            >

        </div>


        <!-- FIELD GROUP -->

        <div class="col-md-3">

            <label class="form-label">

                Chuyên ngành

            </label>

            <select
                class="form-select"
                id="fieldGroupSelect"
            >

                {% for key, tables in field_author_tables.items %}

                    <option value="{{ key }}">

                        {{ key }}

                    </option>

                {% endfor %}

            </select>


        </div>

    </div>



    <!-- ===================================== -->
    <!-- TABLES -->
    <!-- ===================================== -->

    <div class="row">

        <!-- ================================ -->
        <!-- PUBLICATION -->
        <!-- ================================ -->

        <div class="col-md-4">

            <div class="dashboard-chart-card">

                <h5 class="mb-4">

                    Top tác giả theo số CBKH

                </h5>

                <div class="table-responsive">

                    <table
                        class="table table-sm"
                    >

                        <thead>

                            <tr>

                                <th>#</th>

                                <th>Tên tác giả</th>

                                <th>Số CBKH</th>

                            </tr>

                        </thead>

                        <tbody
                            id="publicationTable"
                        ></tbody>

                    </table>

                </div>

            </div>

        </div>



        <!-- ================================ -->
        <!-- CITATION -->
        <!-- ================================ -->

        <div class="col-md-4">

            <div class="dashboard-chart-card">

                <h5 class="mb-4">

                    Top tác giả theo số lượng trích dẫn

                </h5>

                <div class="table-responsive">

                    <table
                        class="table table-sm"
                    >

                        <thead>

                            <tr>

                                <th>#</th>

                                <th>Tên tác giả</th>

                                <th>Số trích dẫn</th>

                            </tr>

                        </thead>

                        <tbody
                            id="citationTable"
                        ></tbody>

                    </table>

                </div>

            </div>

        </div>



        <!-- ================================ -->
        <!-- H-INDEX -->
        <!-- ================================ -->

        <div class="col-md-4">

            <div class="dashboard-chart-card">

                <h5 class="mb-4">

                    Top tác giả theo chỉ số H-index

                </h5>

                <div class="table-responsive">

                    <table
                        class="table table-sm"
                    >

                        <thead>

                            <tr>

                                <th>#</th>

                                <th>Tên tác giả</th>

                                <th>H-index</th>

                            </tr>

                        </thead>

                        <tbody
                            id="hindexTable"
                        ></tbody>

                    </table>

                </div>

            </div>

        </div>

    </div>



</div>

{{ authors_with_N_publications|json_script:"authors_with_N_publications" }}
{{ authors_hindex_values|json_script:"authors_hindex_values" }}

{{ publication_bins|json_script:"publication_bins" }}
{{ publication_bin_counts|json_script:"publication_bin_counts" }}
{{ citation_bins|json_script:"citation_bins" }}
{{ citation_bin_counts|json_script:"citation_bin_counts" }}

{{ field_author_tables|json_script:"field_author_tables" }}

{% endblock %}
{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script src="{% static 'dashboard/js/dashboard_palette.js' %}"></script>

<script src="{% static 'dashboard/js/dashboard_charts.js' %}"></script>

<script src="{% static 'dashboard/js/performance.js' %}"></script>

{% endblock %}