{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid mt-0 px-4">
    <h2>

    <i class="bi bi-gear"></i>

    Cấu hình hệ thống

    </h2>

    <p class="text-muted" style="padding-left: 2px;">

        Quản lý các cấu hình và quy tắc phân tích dữ liệu.

    </p>
    {% if config_dirty %}

        <div
            class="alert alert-warning"
        >

            <div
                class="d-flex justify-content-between align-items-center"
            >

                <div>

                    <i class="bi bi-exclamation-triangle"></i>

                    Có thay đổi cấu hình cài đặt chưa được áp dụng. Kết quả phân tích chưa thay đổi theo cấu hình cài đặt mới khi chưa "Áp dụng thay đổi".

                </div>

                <button

                    id="apply-config-btn"

                    class="btn btn-warning"

                >

                    <i class="bi bi-arrow-repeat"></i>

                    Áp dụng thay đổi

                </button>

            </div>

        </div>

    {% endif %}
    
    {% include "dashboard/partials/setting_field_groups_card.html" %}

    {% include "dashboard/partials/setting_citation_groups_card.html" %}

</div>

{% include "dashboard/partials/modal_field_group.html" %}

{{ histogram_labels|json_script:"histogram_labels" }}

{{ histogram_values|json_script:"histogram_values" }}
{% endblock %}

{% block extra_js %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

<script src="{% static 'dashboard/js/dashboard_palette.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>

<script src="{% static 'dashboard/js/dashboard_charts.js' %}"></script>

<script src="{% static 'dashboard/js/settings.js' %}"></script>
{% endblock %}